{%extends "webApp/base.html" %}
{% load crispy_forms_tags %}

{%block content%}


<div class = 'row auth-row'>
    <div class = 'col-10 form-col'> 

        <div class = 'content-section form-data' style="margin-top: 30px;">
            <form method = "POST">
                {% csrf_token %}

                <fieldset class = 'form-group' >
                    <legend class = 'form-legend border-bottom mb-4'><span class = 'auth-header'>Reset Password</span></legend>
                    {{form|crispy}}    
                </fieldset>

                <button class = 'border-2 auth-submit'  type="submit">
                    <span class="auth-submit-text">Reset</span>
                </button>

            </form>

        </div>
    </div>
</div>
{%endblock content%}